.mainLayoutContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh repeat(5, auto);
    grid-template-areas:
        "header"
        "about"
        "skills"
        "projects"
        "contact"
        "footer";
}