:root {
	--color-primary: rgb(1, 22, 39);

	--color-secondary: rgb(255, 159, 28);

	--color-white: rgb(253, 255, 252);
}

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
$bp-tiny: 31.25em; //500px
