.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-folder {
  width: 20px;
  height: 20px;
  background-position: 0 0;
}
.icon-home {
  width: 20px;
  height: 20px;
  background-position: -36px 0;
}
.icon-info-with-circle {
  width: 20px;
  height: 20px;
  background-position: -72px 0;
}
.icon-mail {
  width: 20px;
  height: 20px;
  background-position: -108px 0;
}
.icon-star {
  width: 20px;
  height: 20px;
  background-position: -144px 0;
}

