@keyframes changeNavColor {
	0% {
		fill: var(--color-primary);
		color: var(--color-primary);
	}
	49% {
		fill: var(--color-primary);
		color: var(--color-primary);
	}
	50% {
		fill: var(--color-secondary);
		color: var(--color-secondary);
	}
	100% {
		fill: var(--color-secondary);
		color: var(--color-secondary);
	}
}

@keyframes dotFlashing {
	0% {
		background-color: #fff;
	}
	50%,
	100% {
		background-color: rgba(255, 255, 255, 0.5);
	}
}
