@import '../abstracts/variables.scss';

*,
*::before,
*::after {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: $bp-largest) {
		font-size: 50%;
	}
}

body {
	overflow-y: overlay !important;
	scroll-snap-type: y proximity;
}

section,
header,
footer {
	scroll-snap-align: start;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: var(--color-primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 10px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--color-primary);
}

/* Sweet Alert */
.swal2-popup {
	font-size: 1.2rem !important;
	width: 30% !important;
	height: auto !important;
	padding: 2rem !important;

	@media only screen and (max-width: $bp-medium) {
		width: 50% !important;
	}

	@media only screen and (max-width: $bp-tiny) {
		width: 70% !important;
	}
}

.swal2-icon {
	overflow: hidden !important;
}

.swal2-styled.swal2-confirm {
	background-color: var(--color-secondary) !important;
}

.swal2-styled.swal2-confirm:focus {
	box-shadow: none !important;
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
	background: rgba(0, 0, 0, 0.7) !important;
}
